html, body{
    margin: 0%;
    padding: 0%;
}

header{
    position: absolute;
    top:0%;
    width: 100%;
    background: linear-gradient(to right, skyblue, whitesmoke);
    height: 2cm;
    color: whitesmoke;
    z-index: 1;
}

#inicio{
    position: absolute;
    z-index: 3;
    width: 60px;
    top: 1%;
    right: 1%;
}

#hospital{
    position: absolute;
    z-index: 4;
    width: 7%;
    left: 17cm;
    top: 1%;
}

h1{
    position: absolute;
    left: 4cm;
}

#btnindex{
    position: absolute;
    width: 70%;
    top: 6.5cm;
    left: 10cm;
}

#btnindex1{
    border-radius: 10px;
    font-size: 1.5em;
    width: 300px;
    background: linear-gradient(skyblue, whitesmoke);
}


#iniciar{
    position: absolute;
    z-index:5; 
    left: 1%;
    width: 25%;
    top: 2cm;
}

#botonera{
    background: linear-gradient(green,yellowgreen);
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

h2{
    position: absolute;
    top: -2cm;
    width: 100%;
    left: 45%;
}

footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    background: linear-gradient(to right, skyblue, whitesmoke);
    height: 1cm;
    
}

fieldset{
    position: absolute;
    top: 5cm;
    left: 8cm;
    width: 400px;
    font-size: 15px;
}
input{
    position: absolute;
    right: 0%;
    width: 200px;
    text-align: center;
}
select{
    position: absolute;
    right: 0%;
    width: 200px;
    text-align: center;
}
#radio1{
    width: 50px;
    position: absolute;
    left: 5%;
}
#radio2{
    width: 50px;
    position: absolute;
    left: 25%;
}

#foto{
    position: absolute;
    left: 11cm;
    top: 0%;
    width: 350px;
    height: 250px;
    border: 2px solid white;
    border-radius: 15px;
}

table{
    position: absolute;
    top: 3cm;
    border: 2px solid black;
    z-index: 7;
    left:7cm;
}
td{
    border-right: 2px solid black;
    font-size: 25px;
    text-align: center;
    width: 300px;
}



